.wraper{
    height: 100px;
    position: relative;
    .hero{
        width: 100%;
        .hero-top{
            width: 100%;
            height: 29px;
            background-color:#0C0606;
        } 
        .hero-center{
            width: 100%;
            height: 121px;
            background-color:#1C1B17;
            position: relative;
            .meno{
                width: 3.5%;
                height: 24%;
                position: absolute;
                top: 30%;
                left: 4.5%;
               
            }
            .location{
                 width: 2%;
                 height: 30%;
                 position: absolute;
                 top: 34%;
                 left: 6.5%;
                 display: none;
                 & img{
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                 }
 
            }
            & h2{
             width: 4%;
             height: 36%;
             position: absolute;
             top: 38.5%;
             left: 11%;
             font-family: Karla;
             font-weight: 400;
             font-size: 17px;
             line-height: 20px;
             color: #FFFFFFAB;
             display: none;
            }
            & h3{
             width: 2.5%;
             height: 36%;
             position: absolute;
             top: 38.5%;
             left: 17.5%;
             font-family: Karla;
             font-weight: 400;
             font-size: 17px;
             line-height: 20px;
             color: #FFFFFFAB;
             display: none;
            }
            & h4{
             width: 5%;
             height: 36%;
             position: absolute;
             top: 38.5%;
             left: 23%;
             font-family: Karla;
             font-weight: 400;
             font-size: 17px;
             line-height: 20px;
             color: #FFFFFFAB;
             display: none;
            }
            .logo{
             width: 24%;
             height: 100%;
             position: absolute;
             left: 37.5%;
             & img{
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
             }
            }
            .serach{
             width: 22%;
             height: 22%;
             position: absolute;
             top:38%;
             left: 12%;
             display: flex;
             justify-content: space-between;
             flex-flow: row wrap;
             border-bottom: 1px solid #FFFFFFA8;
             .left{
                 width: 60%;
                 height: 62.5%;
                 position: absolute;
                 top: 21.5%;
                 left: 7.5%;
                 & p{
                     font-family: Karla;
                     font-weight: 400;
                     font-size: 15px;
                     color: #FFFFFF;
                     line-height: 20px;
                 }
             }
             .right{
                 width: 9%;
                 height: 53.5%;
                 position: absolute;
                 top: 25%;
                 left: 84%;
             }
            }
            .like{
             width: 4%;
             height: 27%;
             position: absolute;
             top: 39%;
             left: 85%;
             & img{
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
             }
            }
            .shop{
             width: 3.5%;
             height: 30.5%;
             position: absolute;
             top: 38%;
             left: 79%;
             & img{
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
             }
            }
            .person{
             width: 3.5%;
             height: 25.5%;
             position: absolute;
             top: 39%;
             left: 92%;
             & img{
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
             }
            }
            .serachbar{
                display: none;
            }
            
        }
        .hero-bottom{
            width: 100%;
            height: 1143px;
            background-color:#1C1B17;
           .baner{
            width: 100%;
            height: 1143px;
            position: relative;
            & img{
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
           
            & h2{
                font-size: 81px;
                color: #FFFFFF;
                position: absolute;
                top: 788px;
                left: 5%;
                font-family: Cormorant Garamond;
                font-weight: 400;
            }
            & h3{
                font-size: 39px;
                color: #FFFFFF;
                position: absolute;
                top: 912px;
                left: 6.5%;
                font-family: Montserrat;
                font-weight: 400;
            }
            & a{
                width: 15.5%;
                height: 55px;
                border: 1px solid #E1DBD7;
                position: absolute;
                top: 1051px;
                left: 7%;
                font-size: 18px;
                color: #FFFFFF;
                text-decoration: none;
                font-weight: 300;
                text-align: center;
                line-height: 55px;
                font-family: Montserrat;
                font-weight: 400;
                transition: 300ms;
                -webkit-transition: 300ms;
                -moz-transition: 300ms;
                -ms-transition: 300ms;
                -o-transition: 300ms;
                &:hover{
                    background-color: #cfc7c3ea;
                }
                }
            
           }
             
        }
    }
    .middel{
        width: 100%;
        .middel1{
            width: 86%;
            height: 341px;
            position: absolute;
            top: 1333px;
            left: 7.5%;
            .titei1{
                width: 35.5%;
                height: 23%;
                margin: auto;
                position: absolute;
                /* top: 1333px; */
                left: 28.5%;
                & h2{
                    font-size: 40px;
                    color: #0C0606;
                    font-family: Cormorant Garamond;
                    font-weight: 400;
                    text-align:  center;
                    line-height: 78px;
                }
            }
            .titel2{
                width: 26.5%;
                height: 13%;
                position: absolute;
                top: 64px;
                left: 32%;
                & h2{
                    font-size: 25px;
                    color: #0C0606;
                    font-family: Cormorant Garamond;
                    font-weight: 400;
                    text-align: center;
                    line-height: 34px;
                    font-style: italic;
                }
            }
            .images2{
                width: 100%;
                height: 230px;
                display: flex;
                justify-content: space-between;
                flex-flow: row wrap;
                width: 100%;
                position: absolute;
                top: 113px;
                & figure1{
                    width: 17%;
                    height: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    position: absolute;
                    left: 0%;
                    & img{
                        width: 100%;
                        height: 100%;
                    }
                    &:hover{
                        transition: 300ms;
                        -webkit-transition: 300ms;
                        -moz-transition: 300ms;
                        -ms-transition: 300ms;
                        -o-transition: 300ms;
                        color: rgb(130, 40, 40);
                    }

                }
                & figure2{
                    width: 17%;
                    height: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    position: absolute;
                    left: 21%;
                    & img{
                        width: 100%;
                        height: 100%;
                    }
                    &:hover{
                        transition: 300ms;
                        -webkit-transition: 300ms;
                        -moz-transition: 300ms;
                        -ms-transition: 300ms;
                        -o-transition: 300ms;
                        color: rgb(130, 40, 40);
                    }

                }
                & figure3{
                    width: 17%;
                    height: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    position: absolute;
                    left: 42%;
                    & img{
                        width: 100%;
                        height: 100%;
                    }
                    &:hover{
                        transition: 300ms;
                        -webkit-transition: 300ms;
                        -moz-transition: 300ms;
                        -ms-transition: 300ms;
                        -o-transition: 300ms;
                        color: rgb(130, 40, 40);
                    }

                } 
                & figure4{
                    width: 17%;
                    height: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    position: absolute;
                    left: 62%;
                    & img{
                        width: 100%;
                        height: 100%;
                    }
                    &:hover{
                        transition: 300ms;
                        -webkit-transition: 300ms;
                        -moz-transition: 300ms;
                        -ms-transition: 300ms;
                        -o-transition: 300ms;
                        color: rgb(130, 40, 40);
                    }

                } 
                & figure5{
                    width: 17%;
                    height: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    position: absolute;
                    left: 83%;
                    & img{
                        width: 100%;
                        height: 100%;
                    }
                    &:hover{
                        transition: 300ms;
                        -webkit-transition: 300ms;
                        -moz-transition: 300ms;
                        -ms-transition: 300ms;
                        -o-transition: 300ms;
                        color: rgb(130, 40, 40);
                    }

                } 
                
            }
            .titer1{
                display: none;
            }

        }
        .middel2{
            width: 100%;
            height: 484px;
            background-color: #0F0D0D;
            display: flex;
            position: absolute;
            top: 1730px;
            .left{
                width:41%;
                height: 100%;
                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .right{
               width: 59%;
               height: 100%;
               & h2{
                position: absolute;
                top: 31px;
                left:45.5%;
                font-family: Montserrat;
                font-weight: 400;
                font-size: 12px;
                color: #FFFFFF;
               }
               & h3{
                position: absolute;
                top: 92px;
                left:45.5%;
                font-family: Cormorant Garamond;
                font-weight: 700;
                font-size: 35px;
                color: #FFFFFF;
               }
               & h4{
                width: 49%;
                position: absolute;
                top: 162px;
                left:45.5%;
                font-family: Montserrat;
                font-weight: 400;
                font-size: 16px;
                color: #FFFFFF;
               }
               & a{
                width: 12%;
                height: 40px;
                border: 1px solid white;
                color: #FFFFFF;
                position: absolute;
                top: 356px;
                left: 45.5%;
                text-decoration: none;
                text-align: center;
                line-height: 40px;
                font-family: Montserrat;
                font-weight: 400;
                font-size: 14px;
                transition: 300ms;
                -webkit-transition: 300ms;
                -moz-transition: 300ms;
                -ms-transition: 300ms;
                -o-transition: 300ms;
                &:hover{
                    background-color: #FFFFFF;
                    color: #0F0D0D;
                }

               }
            }
        }
        .middel3{
            width: 100%;
            height: 493px;
            display: flex;
            flex-flow: row;
            position: absolute;
            top: 2270px;
            .child-middel3{
                width: 100%;
                height: 369px;
                margin: auto;
                display: flex;
                position: absolute;
                top: 57px;
                .left3{
                    width: 52.5%;
                    height: 100%;
                    background-color: #7796AF33;
                    & h2{
                        position: absolute;
                        top: 73px;
                        left:7.5%;
                        font-family: Cormorant Garamond;
                        font-weight: 700;
                        font-size: 35px;
                        color: #0C0606;
                    }
                    & h3{
                        width:41%;
                        height: 100px;
                        position: absolute;
                        top: 140px;
                        left: 7.5%;
                        font-family: Montserrat;
                        font-weight: 400;
                        font-size: 16px;
                        color: #0C0606;
                    }
                    & a{
                        width: 12%;
                        height: 40px;
                        border: 1px solid #0C0606;
                        color: #0C0606;
                        position: absolute;
                        top: 272px;
                        left: 7.5%;
                        text-decoration: none;
                        text-align: center;
                        line-height: 40px;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 400;
                        transition: 300ms;
                        -webkit-transition: 300ms;
                        -moz-transition: 300ms;
                        -ms-transition: 300ms;
                        -o-transition: 300ms;
                        &:hover{
                            background-color: #0C0606;
                            color: #FFFFFF;
                        }
        
                       }
                }
                .right3{
                    width:47.5%;
                    height: 374px;
                    & img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        } 
        .middel4{
            width: 100%;
            height: 544px;
            background-color: #0F0D0D;
            display: flex;
            flex-flow: row;
            position: absolute;
            top: 2819px;
            .left4{
                width: 41.5%;
                height: 100%;
                & img{
                    width: 100%;
                    height: 484px;
                    object-fit: cover;

                }
            }
            .right4{
                width: 58.5%;
                height: 100%;
                & h2{
                    position: absolute;
                    top: 92px;
                    left: 45%;
                    font-family: Cormorant Garamond;
                    font-weight: 700;
                    font-size: 35px;
                    color: #FFFFFF;
                }
                & h3{
                    width: 49%;
                    height: 170px;
                    position: absolute;
                    top: 167px;
                    left: 45%;
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 17px;
                    color: #FFFFFF;
                }
                & h4{
                    display: none;
                }
                & a{
                    width: 12%;
                    height: 40px;
                    border: 1px solid white;
                    color: #FFFFFF;
                    position: absolute;
                    top: 370px;
                    left: 45%;
                    text-decoration: none;
                    text-align: center;
                    line-height: 40px;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 400;
                    transition: 300ms;
                    -webkit-transition: 300ms;
                    -moz-transition: 300ms;
                    -ms-transition: 300ms;
                    -o-transition: 300ms;
                    &:hover{
                        background-color: #FFFFFF;
                        color: #0F0D0D;
                    }
    
                   }
            }
            
        }
        .middel5{
            width: 100%;
            height: 523px;
            position: absolute;
            top: 3419px;
            .titel4{
                width: 35.5%;
                height: 78px;
                position: absolute;
                left: 32%;
                & h2{
                    font-size: 40px;
                    color: #0C0606;
                    font-family: Cormorant Garamond;
                    font-weight: 400;
                    text-align: center;
                    line-height: 78px;
                }
            }
            .titel4-2{
                width: 38%;
                height: 34px;
                position: absolute;
                top: 62px;
                left: 31%;
                & h2{
                    font-size: 26px;
                    color: #0C0606;
                    font-family: Cormorant Garamond;
                    font-weight: 400;
                    text-align: center;
                    line-height: 34px;
                    font-style:italic;
                }
            }
            .images4{
                width: 85%;
                height: 74%;
                position: absolute;
                top: 136px;
                left: 8%;
                display: flex;
                justify-content: space-between;
                flex-flow: row wrap;
                & figure{
                    width: 19%;
                    height: 100%;
                    .image4{
                        width: 100%;
                        height: 85%;
                        object-fit: cover;
                        & img{
                            width: 100%;
                            height: 100%;
                    }
                    }
                    & figcaption{
                        width: 100%;
                        height: 15%;
                        display: flex;
                        flex-flow: column;
                        align-items: center;
                        & h2{
                            /* width: 246px; */
                            height: 5%;
                            font-family: Cormorant Garamond;
                            font-weight: 400;
                            font-size: 22px;
                            color: #0C0606;
                            text-align: center;
                            line-height: 40px;
                        }
                        & h3{
                            font-family: Cormorant Garamond;
                            font-weight: 400;
                            font-size: 24px;
                            color: #0C0606;
                            text-align: center;
                            line-height: 40px;
                            margin: auto;
                            position: absolute;
                            top: 355px;
                        }
                    }
                }
            }

        }
    }
    & footer{
        width: 100%;
        .footer{
            width: 100%;
            height: 323px;
            background-color: #030302;
            position: absolute;
            top: 4009px;
            border-top: 5px solid #403E3D;
            .left-top{
                width: 79%;
                height: 60%;
                position: absolute;
                top: 16%;
                left: 6%;
                display: flex;
                justify-content: space-between;
                flex-flow: row wrap;
                .child-left{
                    width: 17%;
                    height: 100%;
                    & h2{
                        width: 100%;
                        height: 11%;
                        font-family: Cormorant Garamond;
                        font-weight: 700;
                        font-size: 14px;
                        color: #FFFFFF;
                    }
                    & p{
                        width: 100%;
                        height: 10%;
                        margin-top: 10px;
                        font-family: Karla;
                        font-weight: 400;
                        font-size: 13px;
                        color: #B8B8B8;
                    }
                    &:nth-of-type(2){
                        margin-left: 40px !important;
                    }
                }
            }
            .right{
                width: 16%;
                height: 47%;
                position: absolute;
                top: 6%;
                left: 77%;
                display: flex;
                & img{
                    width: 100%;
                    height: 90%;
                    object-fit: cover;
                    background-image: #403E3D;
                    display: none;
                }
                .bottom{
                    width: 100%;
                    height: 10%;
                    display: flex;
                    justify-content: space-between;
                    flex-flow: column;
                    & img{
                        width: 16px;
                        height: 16px;
                        object-fit: cover;
                    }
                }
            }
            .left-bottom1{
                width: 11%;
                height: 7%;
                position: absolute;
                top: 83%;
                left: 6%;
                & h2{
                    font-family: Karla;
                    font-weight: 435;
                    font-size: 13px;
                    text-align: center;
                    line-height: 24px;
                    color: #626262;
                }

            }
            .left-bottom2{
                width: 67%;
                height: 8%;
                position: absolute;
                top: 84%;
                left: 16%; 
                & pre{
                    font-family: Karla;
                    font-weight: 400;
                    font-size: 11px;
                    text-align: center;
                    line-height: 21px;
                    color: #646464;
                }
            }
            .left-bottom3{
                display: none;
            }
            .my-logos{
                width: 2%;
                height: 58%;
                position: absolute;
                top: 16%;
                left: 92%;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
            }
        }
    }
}
